In [1]:
import pandas as pd
df = pd.read_csv('./datasets/Admission_Predict.csv', index_col = 0)

In [2]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [3]:
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
admit_masks = df['chance of admit'] > 0.7
admit_masks.head(5)

Serial No.
1     True
2     True
3     True
4     True
5    False
Name: chance of admit, dtype: bool

In [9]:
df.where(admit_masks).head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.where(admit_masks).dropna()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
6,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
7,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75
12,327.0,111.0,4.0,4.0,4.5,9.00,1.0,0.84
13,328.0,112.0,4.0,4.0,4.5,9.10,1.0,0.78
23,328.0,116.0,5.0,5.0,5.0,9.50,1.0,0.94
24,334.0,119.0,5.0,5.0,4.5,9.70,1.0,0.95
25,336.0,119.0,5.0,4.0,3.5,9.80,1.0,0.97
26,340.0,120.0,5.0,4.5,4.5,9.60,1.0,0.94
27,322.0,109.0,5.0,4.5,3.5,8.80,0.0,0.76
32,327.0,103.0,3.0,4.0,4.0,8.30,1.0,0.74
33,338.0,118.0,4.0,3.0,4.5,9.40,1.0,0.91
34,340.0,114.0,5.0,4.0,4.0,9.60,1.0,0.90
35,331.0,112.0,5.0,4.0,5.0,9.80,1.0,0.94
36,320.0,110.0,5.0,5.0,5.0,9.20,1.0,0.88
44,332.0,117.0,4.0,4.5,4.0,9.10,0.0,0.87
45,326.0,113.0,5.0,4.5,4.0,9.40,1.0,0.91
46,322.0,110.0,5.0,5.0,4.0,9.10,1.0,0.88
47,329.0,114.0,5.0,4.0,5.0,9.30,1.0,0.86
48,339.0,119.0,5.0,4.5,4.0,9.70,0.0,0.89
49,321.0,110.0,3.0,3.5,5.0,8.85,1.0,0.82
50,327.0,111.0,4.0,3.0,4.0,8.40,1.0,0.78
51,313.0,98.0,3.0,2.5,4.5,8.30,1.0,0.76
53,334.0,116.0,4.0,4.0,3.0,8.00,1.0,0.78
54,324.0,112.0,4.0,4.0,2.5,8.10,1.0,0.72
70,328.0,115.0,4.0,4.5,4.0,9.16,1.0,0.78
71,332.0,118.0,5.0,5.0,5.0,9.64,1.0,0.94
...,...,...,...,...,...,...,...,...
351,318.0,107.0,3.0,3.0,3.5,8.27,1.0,0.74
352,325.0,110.0,4.0,3.5,4.0,8.67,1.0,0.73
356,317.0,106.0,2.0,2.0,3.5,8.12,0.0,0.73
357,327.0,109.0,3.0,3.5,4.0,8.77,1.0,0.79
360,321.0,107.0,2.0,2.0,1.5,8.44,0.0,0.81
361,322.0,110.0,3.0,4.0,5.0,8.64,1.0,0.85
362,334.0,116.0,4.0,4.0,3.5,9.54,1.0,0.93
363,338.0,115.0,5.0,4.5,5.0,9.23,1.0,0.91
365,313.0,102.0,3.0,3.5,4.0,8.90,1.0,0.77
366,330.0,114.0,4.0,4.5,3.0,9.17,1.0,0.86
367,320.0,104.0,3.0,3.5,4.5,8.34,1.0,0.74
371,310.0,103.0,2.0,2.5,2.5,8.24,0.0,0.72
372,324.0,110.0,3.0,3.5,3.0,9.22,1.0,0.89
373,336.0,119.0,4.0,4.5,4.0,9.62,1.0,0.95
374,321.0,109.0,3.0,3.0,3.0,8.54,1.0,0.79
380,311.0,99.0,1.0,2.5,3.0,8.43,1.0,0.71
381,322.0,104.0,3.0,3.5,4.0,8.84,1.0,0.78
382,319.0,105.0,3.0,3.0,3.5,8.67,1.0,0.73
383,324.0,110.0,4.0,4.5,4.0,9.15,1.0,0.82
385,340.0,113.0,4.0,5.0,5.0,9.74,1.0,0.96
386,335.0,117.0,5.0,5.0,5.0,9.82,1.0,0.96
390,320.0,108.0,3.0,3.5,4.0,8.44,1.0,0.76
392,318.0,106.0,3.0,2.0,3.0,8.65,0.0,0.71
393,326.0,112.0,4.0,4.0,3.5,9.12,1.0,0.84
394,317.0,104.0,2.0,3.0,3.0,8.76,0.0,0.77
395,329.0,111.0,4.0,4.5,4.0,9.23,1.0,0.89
396,324.0,110.0,3.0,3.5,3.5,9.04,1.0,0.82
397,325.0,107.0,3.0,3.0,3.5,9.11,1.0,0.84
398,330.0,116.0,4.0,5.0,4.5,9.45,1.0,0.91
400,333.0,117.0,4.0,5.0,4.0,9.66,1.0,0.95

In [12]:
#typical fashion
df[df['chance of admit'] > 0.7].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90

In [14]:
df['gre score'].head()

Serial No.
1    337
2    324
3    316
4    322
5    314
Name: gre score, dtype: int64

In [15]:
df[['gre score', 'toefl score']].head()

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [16]:
df[df['gre score'] >320].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90
7,321,109,3,3.0,4.0,8.20,1,0.75

In [19]:
(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
30     False
       ...
371     True
372     True
373    False
374     True
375    False
376    False
377    False
378    False
379    False
380     True
381     True
382     True
383     True
384    False
385    False
386    False
387    False
388    False
389    False
390     True
391    False
392     True
393     True
394     True
395     True
396     True
397     True
398    False
399    False
400    False
Name: chance of admit, Length: 400, dtype: bool

In [20]:
df['chance of admit'].gt(0.7).lt(0.9)

Serial No.
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8       True
9       True
10      True
11      True
12     False
13     False
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23     False
24     False
25     False
26     False
27     False
28      True
29      True
30      True
       ...
371    False
372    False
373    False
374    False
375     True
376     True
377     True
378     True
379     True
380    False
381    False
382    False
383    False
384     True
385    False
386    False
387     True
388     True
389     True
390    False
391     True
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399     True
400    False
Name: chance of admit, Length: 400, dtype: bool