In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                       'ok', 'ok', 'ok', 'poor', 'poor'],
               columns=["Grades"])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [3]:
df.dtypes

Grades    object
dtype: object

In [4]:
df['Grades'].astype('category')

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [11]:
my_cat = pd.CategoricalDtype(categories =['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered = True)
grades = df["Grades"].astype(my_cat)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [12]:
df[df["Grades"]>"C"]

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [15]:
grades[grades>"C"]

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [16]:
import numpy as np

In [17]:
df = pd.read_csv('datasets/census.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 100 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SUMLEV                 3193 non-null   int64
 1   REGION                 3193 non-null   int64
 2   DIVISION               3193 non-null   int64
 3   STATE                  3193 non-null   int64
 4   COUNTY                 3193 non-null   int64
 5   STNAME                 3193 non-null   object
 6   CTYNAME                3193 non-null   object
 7   CENSUS2010POP          3193 non-null   int64
 8   ESTIMATESBASE2010      3193 non-null   int64
 9   POPESTIMATE2010        3193 non-null   int64
 10  POPESTIMATE2011        3193 non-null   int64
 11  POPESTIMATE2012        3193 non-null   int64
 12  POPESTIMATE2013        3193 non-null   int64
 13  POPESTIMATE2014        3193 non-null   int64
 14  POPESTIMATE2015        3193 non-null   int64
 15  NPOPCHG_2010           3193 non-null   int64
 16  NPOPCHG_2011           3193 non-null   int64
 17  NPOPCHG_2012           3193 non-null   int64
 18  NPOPCHG_2013           3193 non-null   int64
 19  NPOPCHG_2014           3193 non-null   int64
 20  NPOPCHG_2015           3193 non-null   int64
 21  BIRTHS2010             3193 non-null   int64
 22  BIRTHS2011             3193 non-null   int64
 23  BIRTHS2012             3193 non-null   int64
 24  BIRTHS2013             3193 non-null   int64
 25  BIRTHS2014             3193 non-null   int64
 26  BIRTHS2015             3193 non-null   int64
 27  DEATHS2010             3193 non-null   int64
 28  DEATHS2011             3193 non-null   int64
 29  DEATHS2012             3193 non-null   int64
 30  DEATHS2013             3193 non-null   int64
 31  DEATHS2014             3193 non-null   int64
 32  DEATHS2015             3193 non-null   int64
 33  NATURALINC2010         3193 non-null   int64
 34  NATURALINC2011         3193 non-null   int64
 35  NATURALINC2012         3193 non-null   int64
 36  NATURALINC2013         3193 non-null   int64
 37  NATURALINC2014         3193 non-null   int64
 38  NATURALINC2015         3193 non-null   int64
 39  INTERNATIONALMIG2010   3193 non-null   int64
 40  INTERNATIONALMIG2011   3193 non-null   int64
 41  INTERNATIONALMIG2012   3193 non-null   int64
 42  INTERNATIONALMIG2013   3193 non-null   int64
 43  INTERNATIONALMIG2014   3193 non-null   int64
 44  INTERNATIONALMIG2015   3193 non-null   int64
 45  DOMESTICMIG2010        3193 non-null   int64
 46  DOMESTICMIG2011        3193 non-null   int64
 47  DOMESTICMIG2012        3193 non-null   int64
 48  DOMESTICMIG2013        3193 non-null   int64
 49  DOMESTICMIG2014        3193 non-null   int64
 50  DOMESTICMIG2015        3193 non-null   int64
 51  NETMIG2010             3193 non-null   int64
 52  NETMIG2011             3193 non-null   int64
 53  NETMIG2012             3193 non-null   int64
 54  NETMIG2013             3193 non-null   int64
 55  NETMIG2014             3193 non-null   int64
 56  NETMIG2015             3193 non-null   int64
 57  RESIDUAL2010           3193 non-null   int64
 58  RESIDUAL2011           3193 non-null   int64
 59  RESIDUAL2012           3193 non-null   int64
 60  RESIDUAL2013           3193 non-null   int64
 61  RESIDUAL2014           3193 non-null   int64
 62  RESIDUAL2015           3193 non-null   int64
 63  GQESTIMATESBASE2010    3193 non-null   int64
 64  GQESTIMATES2010        3193 non-null   int64
 65  GQESTIMATES2011        3193 non-null   int64
 66  GQESTIMATES2012        3193 non-null   int64
 67  GQESTIMATES2013        3193 non-null   int64
 68  GQESTIMATES2014        3193 non-null   int64
 69  GQESTIMATES2015        3193 non-null   int64
 70  RBIRTH2011             3193 non-null   float64
 71  RBIRTH2012             3193 non-null   float64
 72  RBIRTH2013             3193 non-null   float64
 73  RBIRTH2014             3193 non-null   float64
 74  RBIRTH2015             3193 non-null   float64
 75  RDEATH2011             3193 non-null   float64
 76  RDEATH2012             3193 non-null   float64
 77  RDEATH2013             3193 non-null   float64
 78  RDEATH2014             3193 non-null   float64
 79  RDEATH2015             3193 non-null   float64
 80  RNATURALINC2011        3193 non-null   float64
 81  RNATURALINC2012        3193 non-null   float64
 82  RNATURALINC2013        3193 non-null   float64
 83  RNATURALINC2014        3193 non-null   float64
 84  RNATURALINC2015        3193 non-null   float64
 85  RINTERNATIONALMIG2011  3193 non-null   float64
 86  RINTERNATIONALMIG2012  3193 non-null   float64
 87  RINTERNATIONALMIG2013  3193 non-null   float64
 88  RINTERNATIONALMIG2014  3193 non-null   float64
 89  RINTERNATIONALMIG2015  3193 non-null   float64
 90  RDOMESTICMIG2011       3193 non-null   float64
 91  RDOMESTICMIG2012       3193 non-null   float64
 92  RDOMESTICMIG2013       3193 non-null   float64
 93  RDOMESTICMIG2014       3193 non-null   float64
 94  RDOMESTICMIG2015       3193 non-null   float64
 95  RNETMIG2011            3193 non-null   float64
 96  RNETMIG2012            3193 non-null   float64
 97  RNETMIG2013            3193 non-null   float64
 98  RNETMIG2014            3193 non-null   float64
 99  RNETMIG2015            3193 non-null   float64
dtypes: float64(30), int64(68), object(2)
memory usage: 2.4+ MB

In [21]:
df.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,...,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000
mean,49.840276,2.668650,5.191356,30.259004,101.918572,1.933871e+05,1.933969e+05,1.937657e+05,1.952514e+05,1.967445e+05,...,-1.639167,-2.528381,-1.288083,-2.271925,-1.362607,-0.655205,-1.445775,-0.200419,-1.038960,-0.096759
std,1.253884,0.807513,1.973991,15.153897,107.626583,1.176201e+06,1.176244e+06,1.178710e+06,1.189648e+06,1.200508e+06,...,10.407267,11.871798,12.186844,11.440505,12.301558,10.613259,12.228155,12.200064,11.471743,12.265772
min,40.000000,1.000000,1.000000,1.000000,0.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.000000,2.000000,4.000000,18.000000,33.000000,1.129900e+04,1.129900e+04,1.127500e+04,1.127700e+04,1.119500e+04,...,-6.153101,-7.561799,-6.323058,-7.357497,-6.696825,-5.354221,-6.851764,-5.426357,-6.221820,-5.553088
50%,50.000000,3.000000,5.000000,29.000000,77.000000,2.642400e+04,2.644600e+04,2.646700e+04,2.641700e+04,2.636200e+04,...,-1.544618,-2.549859,-1.771445,-1.988101,-2.026566,-0.626174,-1.537988,-0.788296,-0.911948,-0.872527
75%,50.000000,3.000000,7.000000,45.000000,133.000000,7.140400e+04,7.149100e+04,7.172100e+04,7.238700e+04,7.249600e+04,...,2.901204,2.626611,3.392786,3.333927,3.794291,4.062151,3.962629,4.700873,4.580444,5.013928
max,50.000000,4.000000,9.000000,56.000000,840.000000,3.725396e+07,3.725450e+07,3.733408e+07,3.770003e+07,3.805606e+07,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [24]:
df = df[df["SUMLEV"]==50]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3142 entries, 1 to 3192
Data columns (total 100 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SUMLEV                 3142 non-null   int64
 1   REGION                 3142 non-null   int64
 2   DIVISION               3142 non-null   int64
 3   STATE                  3142 non-null   int64
 4   COUNTY                 3142 non-null   int64
 5   STNAME                 3142 non-null   object
 6   CTYNAME                3142 non-null   object
 7   CENSUS2010POP          3142 non-null   int64
 8   ESTIMATESBASE2010      3142 non-null   int64
 9   POPESTIMATE2010        3142 non-null   int64
 10  POPESTIMATE2011        3142 non-null   int64
 11  POPESTIMATE2012        3142 non-null   int64
 12  POPESTIMATE2013        3142 non-null   int64
 13  POPESTIMATE2014        3142 non-null   int64
 14  POPESTIMATE2015        3142 non-null   int64
 15  NPOPCHG_2010           3142 non-null   int64
 16  NPOPCHG_2011           3142 non-null   int64
 17  NPOPCHG_2012           3142 non-null   int64
 18  NPOPCHG_2013           3142 non-null   int64
 19  NPOPCHG_2014           3142 non-null   int64
 20  NPOPCHG_2015           3142 non-null   int64
 21  BIRTHS2010             3142 non-null   int64
 22  BIRTHS2011             3142 non-null   int64
 23  BIRTHS2012             3142 non-null   int64
 24  BIRTHS2013             3142 non-null   int64
 25  BIRTHS2014             3142 non-null   int64
 26  BIRTHS2015             3142 non-null   int64
 27  DEATHS2010             3142 non-null   int64
 28  DEATHS2011             3142 non-null   int64
 29  DEATHS2012             3142 non-null   int64
 30  DEATHS2013             3142 non-null   int64
 31  DEATHS2014             3142 non-null   int64
 32  DEATHS2015             3142 non-null   int64
 33  NATURALINC2010         3142 non-null   int64
 34  NATURALINC2011         3142 non-null   int64
 35  NATURALINC2012         3142 non-null   int64
 36  NATURALINC2013         3142 non-null   int64
 37  NATURALINC2014         3142 non-null   int64
 38  NATURALINC2015         3142 non-null   int64
 39  INTERNATIONALMIG2010   3142 non-null   int64
 40  INTERNATIONALMIG2011   3142 non-null   int64
 41  INTERNATIONALMIG2012   3142 non-null   int64
 42  INTERNATIONALMIG2013   3142 non-null   int64
 43  INTERNATIONALMIG2014   3142 non-null   int64
 44  INTERNATIONALMIG2015   3142 non-null   int64
 45  DOMESTICMIG2010        3142 non-null   int64
 46  DOMESTICMIG2011        3142 non-null   int64
 47  DOMESTICMIG2012        3142 non-null   int64
 48  DOMESTICMIG2013        3142 non-null   int64
 49  DOMESTICMIG2014        3142 non-null   int64
 50  DOMESTICMIG2015        3142 non-null   int64
 51  NETMIG2010             3142 non-null   int64
 52  NETMIG2011             3142 non-null   int64
 53  NETMIG2012             3142 non-null   int64
 54  NETMIG2013             3142 non-null   int64
 55  NETMIG2014             3142 non-null   int64
 56  NETMIG2015             3142 non-null   int64
 57  RESIDUAL2010           3142 non-null   int64
 58  RESIDUAL2011           3142 non-null   int64
 59  RESIDUAL2012           3142 non-null   int64
 60  RESIDUAL2013           3142 non-null   int64
 61  RESIDUAL2014           3142 non-null   int64
 62  RESIDUAL2015           3142 non-null   int64
 63  GQESTIMATESBASE2010    3142 non-null   int64
 64  GQESTIMATES2010        3142 non-null   int64
 65  GQESTIMATES2011        3142 non-null   int64
 66  GQESTIMATES2012        3142 non-null   int64
 67  GQESTIMATES2013        3142 non-null   int64
 68  GQESTIMATES2014        3142 non-null   int64
 69  GQESTIMATES2015        3142 non-null   int64
 70  RBIRTH2011             3142 non-null   float64
 71  RBIRTH2012             3142 non-null   float64
 72  RBIRTH2013             3142 non-null   float64
 73  RBIRTH2014             3142 non-null   float64
 74  RBIRTH2015             3142 non-null   float64
 75  RDEATH2011             3142 non-null   float64
 76  RDEATH2012             3142 non-null   float64
 77  RDEATH2013             3142 non-null   float64
 78  RDEATH2014             3142 non-null   float64
 79  RDEATH2015             3142 non-null   float64
 80  RNATURALINC2011        3142 non-null   float64
 81  RNATURALINC2012        3142 non-null   float64
 82  RNATURALINC2013        3142 non-null   float64
 83  RNATURALINC2014        3142 non-null   float64
 84  RNATURALINC2015        3142 non-null   float64
 85  RINTERNATIONALMIG2011  3142 non-null   float64
 86  RINTERNATIONALMIG2012  3142 non-null   float64
 87  RINTERNATIONALMIG2013  3142 non-null   float64
 88  RINTERNATIONALMIG2014  3142 non-null   float64
 89  RINTERNATIONALMIG2015  3142 non-null   float64
 90  RDOMESTICMIG2011       3142 non-null   float64
 91  RDOMESTICMIG2012       3142 non-null   float64
 92  RDOMESTICMIG2013       3142 non-null   float64
 93  RDOMESTICMIG2014       3142 non-null   float64
 94  RDOMESTICMIG2015       3142 non-null   float64
 95  RNETMIG2011            3142 non-null   float64
 96  RNETMIG2012            3142 non-null   float64
 97  RNETMIG2013            3142 non-null   float64
 98  RNETMIG2014            3142 non-null   float64
 99  RNETMIG2015            3142 non-null   float64
dtypes: float64(30), int64(68), object(2)
memory usage: 2.4+ MB

In [25]:
df=df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)

df.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [26]:
pd.cut(df, 10)

STNAME
Alabama                   (11706.087, 75333.413]
Alaska                    (11706.087, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                  (11706.087, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                   (11706.087, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                     (11706.087, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                   (11706.087, 75333.413]
Iowa                      (11706.087, 75333.413]
Kansas                    (11706.087, 75333.413]
Kentucky                  (11706.087, 75333.413]
Louisiana                 (11706.087, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                 (11706.087, 75333.413]
Mississippi               (11706.087, 75333.413]
Missouri                  (11706.087, 75333.413]
Montana                   (11706.087, 75333.413]
Nebraska                  (11706.087, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico                (11706.087, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota              (11706.087, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                  (11706.087, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota              (11706.087, 75333.413]
Tennessee                 (11706.087, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                   (11706.087, 75333.413]
Virginia                  (11706.087, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia             (11706.087, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                   (11706.087, 75333.413]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64]): [(11706.087, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]